VITE_API_URL=http://localhost:3000
VITE_OPENAPI_URL=https://mudlabs-backend.vercel.app/api-docs.json
VITE_PIECES_REMOTE_URL=http://localhost:3001
VITE_CREATIONS_REMOTE_URL=http://localhost:3002
VITE_TOUR_GUIDE_REMOTE_URL=http://localhost:3003
